* {
  box-sizing: border-box;
}

:root{

  --global-background: #a6a6a6;
  --structural-elements: #f0f0f0;
  --disabled-element: #a6a6a6;
  --chat-background: #ffffff;
  
  --color-accent-light: #3d6b78;
  --color-accent-dark: #325862;
  
  --h1-size: 25px;
  --h2-size: 18px;
  --p-size: 15px;
  --p-small-size: 10px;
  
  --trans-black: rgba(7,19,49,0.5);
  --success: rgb(0, 182, 0);
  --warning: rgb(206, 48, 0);;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.darkTheme {
  --global-background: #1d1d1d;
  --structural-elements: #1a1a1a;
  --disabled-element: #3e3e3e;
  --chat-background: #0c0c0c;
  
  --color-accent-light: #9c2700;
  --color-accent-dark: #b52d00;

  --trans-black: rgba(41, 27, 26, 0.5);
}
